

/* Container for the entire badge preview section */
.badge-preview {
    display: flex; /* Use flexbox layout for the badge preview */
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center align children horizontally */
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

/* Individual badge container for each page */
.badge-container {
    display: grid; /* Use CSS Grid layout for badges */
    grid-template-columns: repeat(2, 0fr); /* Define two equal columns */
    width: 21cm;  /* Set width to A4 size */
    height: 29.7cm;  /* Set height to A4 size */
    padding: 10px; 
    box-sizing: border-box; 
    page-break-after: always;  /* Force a page break after each badge container */
}

/* Individual badge styles */
.badge {
    width: 100mm; 
    height: 70mm; 
    margin-bottom: 23px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    text-align: center; 
    border: none; 
}

/* Background image for each badge */
.badge img {
    width: 100%; 
    height: auto; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: -1; /* Send the image behind other content */
}

 
.name {
    font-weight: bold; 
    font-size: 16px; 
    margin-bottom: 5px; 
    z-index: 1; /* Ensure name appears above the background */
}

.title {
    font-size: 14px; 
    margin-bottom: 5px;
    z-index: 1; 
}

.company {
    font-size: 12px; 
    z-index: 1; 
}
